<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="productRepository"
		class="com.rudrasiva86.repository.HibernateProductRepository"
		scope="singleton"/>
		
	<!-- autowire="constructor" -->
	<!-- autowire="byType" -->
	<!-- autowire="byName" -->
	<bean name="productService" class="com.rudrasiva86.service.ProductService" autowire="constructor"/>
</beans>